* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

body {
    background-color: #04152D;
    overflow-x: hidden;
    /* background-color: cornflowerblue; */
}